@import url('https://fonts.googleapis.com/css2?family=Meddon&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;


}

body {
    font-family: "PT Serif", sans-serif;
    color: #515d5f;
}

.container-fluid {
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}


h2 {

    font-size: 200%;
    padding: 20px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 150%;
}

.content {
    line-height: 35px;
    text-align: center;
}


/*-------------------------------- Header ---*/
#title {
    font-size: 120%;
    font-family: 'Meddon', sans-serif;
    font-weight: 300;
    color: #3e837b;

}

#tagline {
    font-size: 30%;
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    color: #515d5f;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 10%;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    font-size: 110%;
    font-family: 'PT Serif';
}

.navbar-collapse {
    text-align: center;
}

.navbar-toggler {
    border: none;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    #logo {
        font-size: 160%;
        padding-top: 5px;
    }
}

/*-------------------------------- Hero Image ---*/
#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat bottom;
    overflow: hidden;
    background-size: cover;
}

@media only screen and (min-width:768px) {
    #hero-image {
        height: 600px;
    }
}

/*-------------------------------- Title Banner---*/
#title-banner {
    height: 140px;
    width: 100%;
    background-color: rgba(255, 201, 173, 0.5);
    margin-top: 120px;
}

#title-banner h2 {
    color: #515d5f;
    text-align: center;
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#title-banner p {
    color: #515d5f;
    text-align: center;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 2px;

    ;

}

/*-------------------------------- Features ---*/



#welcome {
    height: 400px;

}

@media screen and (max-width: 425px) {
    #welcome {
        height: 500px;
    }
}

@media screen and (max-width: 320px) {
    #welcome {
        height: 600px;
    }
}

#intro {
    padding-top: 40px;
    float: left;
    margin: 0 auto;
    text-align: center;
}

#intro-title h2 {
    font-size: 180%;
    font-family: 'Meddon';
    padding: 40px;
}


#our-ethos {

    text-align: center;
    margin: 25px 0;
}


#sign-up,
#contact-form {
    text-align: center;
    height: 400px;
    width: 100%;
    background-color: rgba(255, 201, 173, 0.5);
    margin: 100px 0;
}

#sign-up h3,
#contact-form h3 {
    font-size: 150%;
    padding: 20px 0 10px 0;
}

#sign-up div,
#contact-form div {
    padding: 10px;
}

.form-input {
    width: 100%;
    padding: 5px;
    border-radius: 3px 3px;
}

@media only screen and (min-width: 768px) {
    .form-input {
        width: 33%;
    }

    #sign-up,
    #contact-form {
        padding: 20px;
    }
}

input[type=text]:focus {
    outline-color: #3e837b;
}

input[type=email]:focus {
    outline-color: #3e837b;
}

/*-------------------------------- Gallery ---*/
#gallery {
    margin: 40px 0;
}

#gallery img {
    object-fit: cover;
    object-position: center;
    width: 400px;
    height: 400px;
    padding: 5px;
}


.col-lg-4 {
    padding: 0;
}


/*-------------------------------- Footer---*/
footer {
    height: 80px;
    background-color: rgba(62, 131, 123, 0.3);

}

.social-links {
    text-align: center;
    padding: 5px;
}

.social-links li {
    display: inline;
}


.social-links i {
    font-size: 160%;
    margin-top: 20px;
    padding: 0 5%;
    color: #515d5f;
}


.social-links i:hover {
    color: #ee9061;
}

footer p {
    text-align: center;
    font-size: 75%;
    color: inherit;
    padding: 0;
    margin: 0 auto;
}

l,
ol,
ul {
    margin: 0;

}

/*-------------------------------- Get Started Page---*/


#get-started-image {
    height: 400px;
    margin: 140px;
}

@media screen and (min-width: 1440px) {
    #get-started-image {
        height: 500px;
        margin: 200px;
    }
}

/*-------------------------------- Code amended from W3 School---*/


.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.image-content {
    padding: 10px;

}

.image-content img {
    object-fit: cover;
    object-position: center;
    height: 300px;
}


@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (min-width:768px) and (max-width: 768px) {
    #community {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
}

/*-------------------------------- End of code amended from W3 School---*/

#beginner-options {
    margin: 50px 0;
}

.portfolio-content {
    margin: 30px 0;
}

/*-------------------------------- Classes Page--*/

#timetable {
    width: 100%;
    margin: 75px 0;
}

.accordion {
    margin-top: 50px;
}

.card {
    margin: 10px;
}

.card-header {
    background-color: rgba(62, 131, 123, 0.2);
}

.mb-0 {
    font-family: "Meddon", sans-serif;
    font-size: medium;
    text-align: center;
}

.btn-link {
    color: #515d5f;
}

.btn-link:focus {
    text-decoration: none;

}

.btn-link:hover {
    color: rgb(240, 170, 135);
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

#yoga-types {
    margin: 25px 0;
    text-align: center;

}

#yoga-types h2,
#yoga-types p {
    margin: 0 25px;
}

#good-vibes {
    height: 650px;
    width: 400px;
}

#good-vibes-image {
    margin: 20px;

}

@media screen and (max-width: 425px) {
    #good-vibes {
        height: 350px;
        width: 250px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {

    #practical-info-1,
    #practical-info-2 {
        padding: 0 25px;
    }
}

@media screen and (min-width: 1440px) {
    #good-vibes {
        height: 800px;
        width: 600px;
    }

    #practical-info-1,
    #practical-info-2 {
        padding: 50px;
        margin-left: 150px;
    }
}

#practical-info {
    margin: 75px 0;
}


/*-------------------------------- Contact Page--*/

#location {
    margin: 50px 0;
}

#location h2 {
    padding: 0;
}

#location p {
    margin: 40px 0;
}


@media screen and (max-width: 425px) {
    iframe {
        height: 250px;
        width: 250px;
    }
}


#contact-form {
    height: 575px;
}

#contact-form textarea {
    height: auto;
}