@import url('https://fonts.googleapis.com/css2?family=Meddon&family=PT+Serif:ital@0;1&family=Roboto+Condensed:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;

}

body {
    font-family: "PT Serif";
    color: #515d5f;
}

h1 {
    font-family: 'Meddon';
    font-weight: 200;
    color: #3e837b;
}

.logo {
    float: left;
    text-decoration: none;
    color: inherit;
    margin: 5px 0 0 15px;
}

#title {
    font-size: 300%;

}

#tagline {
    font-size: 70%;
    font-family: 'PT Serif';
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    position: relative;
    left: 65px;
    bottom: 10px;

}

#menu {
    font-size: 110%;
    font-family: 'PT Serif';
    list-style-type: none;
    letter-spacing: 4px;

}

#title,
#menu {
    line-height: 80px;
}


#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #515d5f;
}

.present {
    border-bottom: 1px solid #515d5f;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat bottom;
    overflow: hidden;

}

#welcome {
    height: 600px;
}

#intro {
    padding-top: 120px;
    padding-left: 60px;
    width: 50%;
    float: left;
    margin: 0 auto;
    text-align: center;
}

#intro-title {
    font-size: 150%;
    font-family: 'Meddon';
    padding: 30px;
}

#intro-image {
    padding: 100px 100px;
    width: 50%;
    float: right;
    width: 400px;
    height: 400px;
    margin: 0 auto;


}

#circle-image-bg {
    background: url(../images/circle-image.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#our-ethos {
    margin: 70px 100px;
    text-align: center;
}

#our-ethos h2 {
    font-family: 'Meddon';
    font-size: 200%;
}

#ethos,
#promise {
    padding: 75px 100px 75px 100px;
}


footer {
    height: 80px;
    background-color: rgba(62, 131, 123, 0.3);

}


.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
    color: #515d5f;
}